$yellow: #FFC907;
$violet:#6650A5;
$secondary:#A1B1CB;
$primary:#fff;

@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

.movielist{
    width: 100%;

    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;

    &-header{
        margin-top: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        & h2{
            color: $yellow;
            font-family: 'Griffy', system-ui;

        }
    }
}   
.link{
    display: flex;
    align-items: center;
    gap: .5rem;

    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;

    color: $primary;
    background-color: $violet;
    border: .1rem solid $violet;
    border-radius: .5rem;

    transition: .1s all ease-in-out;

    &:hover {
        transform: translateY(-5px) scale(1.02);
    }

}

.next-link {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-size: 1.2rem;
    color: $primary;
    // border: .1rem solid $primary;
    padding: .2rem .5rem;
    border-radius: .5rem;

    transition: .1s all ease-in-out;

    &:hover {
        transform: translateY(-5px) scale(1.2);
    }
}

.movie{
    background:linear-gradient(30deg, rgba(0,0,0,0.8) 20%, $violet 100%);
    width: 15.45rem;
    
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(146, 135, 220, 0.2);

    &-main-image{
        width: 100%;
    }
    &-title{
        font-size: 1.2rem;
        padding: 0.5rem 1rem;

        color: $primary;
        margin: 0.5rem 0;
        overflow: hidden;  
        text-overflow: ellipsis; 
        white-space: nowrap;  
        position: relative;  

        &:hover::after {
            content: attr(title);  
            position: absolute;  
            background: $violet;  
            color: #fff;  
            padding: 5px;  
            top: 100%;  
            left: 0;  
            white-space: normal;  
            pointer-events: none;  
        }
    }

    &-date{
        padding: 0.5rem 1rem;
        font-size: .8rem;
        color: $secondary;
    }
    &-rate{
        display: flex;
        align-items: center;

        padding: 0.5rem 1rem;
        color: $yellow;
        font-weight: 700;
        font-size: 1rem;

        & p{
            margin-left: 0.5rem;
        }
    }
}