$yellow: #FFC907;
$violet:#6650A5;
$secondary:#A1B1CB;
$primary:#fff;

@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

// /!\ IMPORTANT: this variable precises the number of slides contained in the slider.
// if you add/remove images, make sure that this variable is up to date so the buttons,
// the disposition of elements and the animations work correctly.
$nb-slides: 10;


.line {
  width: 100%;
}

.flex {
  display: flex;
}

.center {
  @extend .flex;
  align-items: center; // horizontal
  justify-content: center; // vertical
}


.carousel-wrapper {
  @extend .flex;
  position: relative;
  width: 80%;   
  max-height: 80vh;
//   margin: 50px;

  input {
    display: none;
  }
}


// CAROUSEL / SLIDER
.carousel {
  @extend .line;
  overflow: hidden;
//   border-radius: 15px;

  ul {
    @extend .center;
    position: relative;
    list-style: none;
    overflow: hidden;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100% * $nb-slides;

    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  }

  li {
    @extend .line;

    div.movie-background {
      @extend .line;
      min-height: 80vh;
      position: relative;
        
      & .movie-descriprion{
        position: absolute;
        left: 6%;
        bottom: 15%;

        color: $primary;

        & h2{
          font-size: 3rem;
          font-family: 'Griffy', system-ui;
          margin-bottom: .2rem;
        }
        & p{
          font-size: 1rem;
          max-width: 45%;
          margin-bottom: 1rem;
          color: $secondary;
        }
      }
     
    }
  }
}


// NAVIGATION DOTS
.nav-dot {
  $dot-size: 15px;
  position: absolute;
  cursor: pointer;

  margin-left: -$dot-size / 2;
  bottom: -$dot-size * 1.5;
  width: $dot-size;
  height: $dot-size;

  opacity: .5;
  background-color: white;
  border-radius: 50%;
  transition: .4s;

  &:hover {
    opacity: .8;
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

// goes from 1 to 5.
@for $n from 1 through $nb-slides {
  // arranges the navigation dots horizontally
  .nav-dot[for=slide#{$n}] {
    left: 50% + ((($n - 1) - (($nb-slides - 1)/ 2)) * 5%);
  }

  #slide#{$n}:checked {
    // moves the carousel to the right slide
    & ~ .carousel ul { left: -100% * ($n - 1) }

    // highlights the selected navigation dot
    & ~ .nav-dot[for=slide#{$n}] {
      opacity: 1;
    }
  }
}


// ARROWS
%arrow {
  $arrow-size: 50px;
  display: none;  // hidden by default
  position: absolute;

  cursor: pointer;
  font-weight: bolder;
  text-shadow: 0 0 7.5px rgba($color: black, $alpha: .7);

  top: 50%;
  z-index: 1;
  opacity: .7;
  margin-top: -$arrow-size / 2;
  height: $arrow-size;
  font-size: $arrow-size;
  transition: .2s;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.left-arrow {
  @extend %arrow;
  left: 15px;
}

.right-arrow {
  @extend %arrow;
  right: 15px;
}

@function custom-modulo($n) {
  // this function returns '$n % $nb-slides', except that if the result is 0,
  // '$nb-slides' is returned.
  // for exemple, for $nb-slides = 4, possible values are {1, 2, 3, 4}
  // (and not {0, 1, 2, 3}).
  @return 1 + ($nb-slides + (($n - 1) % $nb-slides)) % $nb-slides;
}

@for $n from 1 through $nb-slides {
  // when the nth slide is selected,
  // displays the left-arrow that goes to the (n-1)th slide
  // and the right arrow that goes to the (n+1)th slide.
  // don't worry, it loops thanks to the 'custom-modulo' function !

  #slide#{$n}:checked {
    & ~ .left-arrow[for=slide#{custom-modulo($n - 1)}],
    & ~ .right-arrow[for=slide#{custom-modulo($n + 1)}] {
      display: block;
    }
  }
}



.signature {
  margin-top: 100px;
  bottom: 0;
  font-family: "Quicksand";
  color: rgba(150, 150, 170);
  text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);

  .name {
    color: white;
  }

  .dot {
    margin: 0 5px;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}



.movielist{
    width: 100%;

    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    
    margin-bottom: 4rem;

    &-header{
        margin: 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        & h2{
            color: $yellow;
            font-family: 'Griffy', system-ui;

        }
    }
}   
.link{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;

    max-width: 90px;

    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;

    color: $primary;
    background-color: $violet;
    border: .1rem solid $violet;
    border-radius: .5rem;

    transition: .1s all ease-in-out;

    &:hover {
        transform: translateY(-5px) scale(1.02);
    }

}

.next-link {
    display: flex;
    align-items: center;

    text-decoration: none;
    font-size: 1.2rem;
    color: $primary;
    // border: .1rem solid $primary;
    padding: .2rem .5rem;
    border-radius: .5rem;

    transition: .1s all ease-in-out;

    &:hover {
        transform: translateY(-5px) scale(1.2);
    }
}

.movie{
    background:linear-gradient(30deg, rgba(0,0,0,0.8) 20%, $violet 100%);
    width: 15.3rem;
    
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(146, 135, 220, 0.2);

    &-main-image{
        width: 100%;
    }
    &-title{
        font-size: 1.2rem;
        padding: 0.5rem 1rem;

        color: $primary;
        margin: 0.5rem 0;
        overflow: hidden;  
        text-overflow: ellipsis; 
        white-space: nowrap;  
        position: relative;  

        &:hover::after {
            content: attr(title);  
            position: absolute;  
            background: $violet;  
            color: #fff;  
            padding: 5px;  
            top: 100%;  
            left: 0;  
            white-space: normal;  
            pointer-events: none;  
        }
    }

    &-date{
        padding: 0.5rem 1rem;
        font-size: .8rem;
        color: $secondary;
    }
    &-rate{
        display: flex;
        align-items: center;

        padding: 0.5rem 1rem;
        color: $yellow;
        font-weight: 700;
        font-size: 1rem;

        & p{
            margin-left: 0.5rem;
        }
    }
}